* {
    
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

.Mensaje-container {
    
    padding: 100;
    border: 25px;
    margin:0;
    text-align: center;

    animation-name: show;
    animation-duration: 2s;

}

.boton-container {
    
    padding: 100;
    border: 25px;
    margin:0;

    text-align: center;

}

button {
    display: inline-block;
    animation-name: show;
    animation-duration: 2s;

    
    width: 3em;
    outline: none;

    cursor: pointer;
    border: none;
    background-color: white;
}

.gif-container {

    padding: 10;
    border: 25px;
    margin:0;
    
    animation-name: show;
    animation-duration: 2s;

    display: none;
}

img {
    height: 178;
    width: 240;


}

.gif {

    text-align: center;
    

}

@keyframes show {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

 
