
header {
    margin: 0;
    padding: 1em 2em 1em 2em;
    font-size: 3em;
}

body {
    animation-name: show;
    animation-duration: 6s;
}
a {
    color: black;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    
}


.columnas {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    
    padding: 10px;
}

@media only screen and (max-width: 1200px) {
    .columnas {
        grid-template-columns: auto auto;
    }
  }

  @media only screen and (max-width: 615px) {
  
    .columnas {
        grid-template-columns: auto;
    }

    header{
        text-align: center;
        display: block;
        padding: auto;
    }

   
  }

.columnas > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

header{
    text-align: center;
    display: block;
    padding: auto;
}



.social ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social ul li {
    display: inline-block;
    text-align: center;

}

.social ul li a {
    display: block;
    text-align: center;
    padding: auto;
    width: 50px;
}

.social ul li a img {
    width: 100%;
    height: 100%;
}

@keyframes show {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

